<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout/standard :: headerFragment"></head>
  <body class="soria">
    <div id="main" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline'" style="height: 100%; width: 100%; padding: 0">
        <div th:replace="layout/standard :: desktopHeader"></div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
	        <h1>This is a really cool application</h1>
	        When asked to login, use admin/password to gain full access to the system.<br/>
        </div>
        <div th:replace="layout/standard :: desktopFooter"></div>
    </div>
  </body>
</html>