<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- This will load the global application context.
		 Web tier configuration should be excluded from this
		 context configuration.
	 -->
	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/application-context.xml</param-value>
	</context-param>

	<!-- The OpenEntityManagerInViewFilter filter (and associated filter 
	     mapping) is necessary to keep the hibernate session open
	     while the Spring MVC controller is trying to build the view, 
	     more specifically so that the controller can access hibernate
	     objects and convert them into model objects for the view. -->
	<filter>
    	<filter-name>OpenEntityManagerInViewFilter</filter-name>
    	<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    	<init-param>
        	<param-name>entityManagerFactoryBeanName</param-name>
        	<param-value>entityManagerFactory</param-value>
    	</init-param>
	</filter>
	
	<filter-mapping>
    	<filter-name>OpenEntityManagerInViewFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- This will loan the WebApplicationContext.
		Only web application components should be configured
		in here.  Note that the WebApplicationContext 
		has access to the global context, so components in the web tier
		(i.e. controllers, etc...) will have access to non web tier
		resources.
	 -->
	<servlet>
		<servlet-name>phoenixweb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		    <param-name>org.apache.tiles.context.AbstractTilesApplicationContextFactory</param-name>
		    <param-value>
		    	org.apache.tiles.servlet.context.wildcard.WildcardServletTilesApplicationContextFactory
		    </param-value>
		</init-param>
		<init-param>
		    <param-name>org.apache.tiles.definition.DefinitionsFactory.DEFINITIONS_CONFIG</param-name>
		    <param-value>/WEB-INF/**/tiles.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>phoenixweb</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>web/index.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
